## 1. Examining the Index Object

    All index objects except for the special "Multi-Index" object are single dimensional
    data structures. They combine the functionality of Python "sets" and Numpy "ndarrays".

In [3]:
import numpy as np
import pandas as pd

In [3]:
college = pd.read_csv("data/college.csv")
columns = college.columns
columns

Index(['INSTNM', 'CITY', 'STABBR', 'HBCU', 'MENONLY', 'WOMENONLY', 'RELAFFIL',
       'SATVRMID', 'SATMTMID', 'DISTANCEONLY', 'UGDS', 'UGDS_WHITE',
       'UGDS_BLACK', 'UGDS_HISP', 'UGDS_ASIAN', 'UGDS_AIAN', 'UGDS_NHPI',
       'UGDS_2MOR', 'UGDS_NRA', 'UGDS_UNKN', 'PPTUG_EF', 'CURROPER', 'PCTPELL',
       'PCTFLOAN', 'UG25ABV', 'MD_EARN_WNE_P10', 'GRAD_DEBT_MDN_SUPP'],
      dtype='object')

In [7]:
print("The type of the columns variable : {}".format(type(columns)))
print("Accessing the underlying array of values : {}".format(columns.values))
print("Accessing a value from the columns index object with a scalar : {}".format(columns[2]))
print("Accessing a list of values : {}".format(columns[[3, 4, 9]]))
print("Accessing a slice of values, specifically, the last three columns : {}".format(columns[-3:]))

The type of the columns variable : <class 'pandas.core.indexes.base.Index'>
Accessing the underlying array of values : ['INSTNM' 'CITY' 'STABBR' 'HBCU' 'MENONLY' 'WOMENONLY' 'RELAFFIL'
 'SATVRMID' 'SATMTMID' 'DISTANCEONLY' 'UGDS' 'UGDS_WHITE' 'UGDS_BLACK'
 'UGDS_HISP' 'UGDS_ASIAN' 'UGDS_AIAN' 'UGDS_NHPI' 'UGDS_2MOR' 'UGDS_NRA'
 'UGDS_UNKN' 'PPTUG_EF' 'CURROPER' 'PCTPELL' 'PCTFLOAN' 'UG25ABV'
 'MD_EARN_WNE_P10' 'GRAD_DEBT_MDN_SUPP']
Accessing a value from the columns index object with a scalar : STABBR
Accessing a list of values : Index(['HBCU', 'MENONLY', 'DISTANCEONLY'], dtype='object')
Accessing a slice of values, specifically, the last three columns : Index(['UG25ABV', 'MD_EARN_WNE_P10', 'GRAD_DEBT_MDN_SUPP'], dtype='object')

    Index Objects share a lot of the methods as series and dataframes

In [8]:
#min, max and sum of columns
columns.min(), columns.max(), columns.isna().sum()

('CITY', 'WOMENONLY', 0)

In [9]:
#logical operation - appending 'A' to every column attribute
columns + '_A'

Index(['INSTNM_A', 'CITY_A', 'STABBR_A', 'HBCU_A', 'MENONLY_A', 'WOMENONLY_A',
       'RELAFFIL_A', 'SATVRMID_A', 'SATMTMID_A', 'DISTANCEONLY_A', 'UGDS_A',
       'UGDS_WHITE_A', 'UGDS_BLACK_A', 'UGDS_HISP_A', 'UGDS_ASIAN_A',
       'UGDS_AIAN_A', 'UGDS_NHPI_A', 'UGDS_2MOR_A', 'UGDS_NRA_A',
       'UGDS_UNKN_A', 'PPTUG_EF_A', 'CURROPER_A', 'PCTPELL_A', 'PCTFLOAN_A',
       'UG25ABV_A', 'MD_EARN_WNE_P10_A', 'GRAD_DEBT_MDN_SUPP_A'],
      dtype='object')

In [10]:
columns > 'M'

array([False, False,  True, False,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True, False])

    Index objects are immutable

## 2. Producing Cartesian Products

        When two Series / DataFrames interact with each other, the indices of the
        inter-operating entities align before the operation begins. A cartesian product 
        of both their column and row indices are produced as a result of this alignment
        (unless they are identical to each other). Being aware of them helps to avoid
        unintentional consequences.

In [12]:
s1 = pd.Series(index = list('aaab'), data = np.arange(4))
s2 = pd.Series(index = list('cababb'), data = np.arange(6))
print(s1)
print(s2)

a    0
a    1
a    2
b    3
dtype: int64
c    0
a    1
b    2
a    3
b    4
b    5
dtype: int64

In [14]:
#every element in s1 sums up with every matching element in s2 to produce a new entry in (s1+s2)
s1 + s2

a    1.0
a    3.0
a    2.0
a    4.0
a    3.0
a    5.0
b    5.0
b    7.0
b    8.0
c    NaN
dtype: float64

    Pandas defaults to missing value when an index label is unique to a single entity.
    This has the effect of converting the type of the entity from int to float.
    This is because np.nan exists for float only, and data must be homogenous 
    in a column/series. This automatic conversion can have a significant memory 
    impact on big data.

In [51]:
#no cartesian product when index labels are the same and ALSO in the same order
s1 = pd.Series(index = list('aaab'), data = np.arange(4))
s2 = pd.Series(index = list('aaab'), data = np.arange(4))
s1 + s2

a    0
a    2
a    4
b    6
dtype: int64

In [19]:
#cartesian product is produced when index labels are not in order, even though they are the same
s1 = pd.Series(index = list('aaaab'), data = np.arange(5))
s2 = pd.Series(index = list('baaaa'), data = np.arange(5))
s1 + s2

a    1
a    2
a    3
a    4
a    2
a    3
a    4
a    5
a    3
a    4
a    5
a    6
a    4
a    5
a    6
a    7
b    4
dtype: int64

    This can lead to an explosion of returned values, when a cartesian product is
    the only choice for pandas, even for an operation as simple as addition.

## 3. Exploding Indexes

In [26]:
#let us show the result from the above section, but on a larger scale.
data = pd.read_csv("data/employee.csv", index_col=["RACE"])
data.head()

,UNIQUE_ID,POSITION_TITLE,DEPARTMENT,BASE_SALARY,EMPLOYMENT_TYPE,GENDER,EMPLOYMENT_STATUS,HIRE_DATE,JOB_DATE
RACE,,,,,,,,,
Hispanic/Latino,0,ASSISTANT DIRECTOR (EX LVL),Municipal Courts Department,121862.0,Full Time,Female,Active,2006-06-12,2012-10-13
Hispanic/Latino,1,LIBRARY ASSISTANT,Library,26125.0,Full Time,Female,Active,2000-07-19,2010-09-18
White,2,POLICE OFFICER,Houston Police Department-HPD,45279.0,Full Time,Male,Active,2015-02-03,2015-02-03
White,3,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,Full Time,Male,Active,1982-02-08,1991-05-25
White,4,ELECTRICIAN,General Services Department,56347.0,Full Time,Male,Active,1989-06-19,1994-10-22

In [27]:
s1 = data["BASE_SALARY"].copy()
s2 = data["BASE_SALARY"].copy()
#let's confirm that we've got two different copies of the same Series
s1 is s2

False

In [28]:
#now let's change the index labels for one of the series by sorting it
s1 = s1.sort_index()

In [30]:
#comparing the length of series for identical labels addition, identical but different order labels addition
len(s1), len(s2), len(s1 + s1), len(s1 + s2)

#as we can see, we see an explosion in the number of values in the resulting series from a mere 2000
#to over a million data points!

(2000, 2000, 2000, 1175424)

## 4. Filling values with unequal indexes

In [32]:
bb14 = pd.read_csv('data/baseball14.csv', index_col='playerID')
bb15 = pd.read_csv('data/baseball15.csv', index_col='playerID')
bb16 = pd.read_csv('data/baseball16.csv', index_col='playerID')
bb14.head()

,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
playerID,,,,,,,,,,,,,,,,,,,,,
altuvjo01,2014,1,HOU,AL,158,660,85,225,47,3,...,59.0,56.0,9.0,36,53.0,7.0,5.0,1.0,5.0,20.0
cartech02,2014,1,HOU,AL,145,507,68,115,21,1,...,88.0,5.0,2.0,56,182.0,6.0,5.0,0.0,4.0,12.0
castrja01,2014,1,HOU,AL,126,465,43,103,21,2,...,56.0,1.0,0.0,34,151.0,1.0,9.0,1.0,3.0,11.0
corpoca01,2014,1,HOU,AL,55,170,22,40,6,0,...,19.0,0.0,0.0,14,37.0,0.0,3.0,1.0,2.0,3.0
dominma01,2014,1,HOU,AL,157,564,51,121,17,0,...,57.0,0.0,1.0,29,125.0,2.0,5.0,2.0,7.0,23.0

In [34]:
#let's find the index labels that are there in one series but not in the other
bb14.index.difference(bb15.index)

Index(['corpoca01', 'dominma01', 'fowlede01', 'grossro01', 'guzmaje01',
       'hoeslj01', 'krausma01', 'preslal01', 'singljo02'],
      dtype='object', name='playerID')

In [37]:
bb14.index.difference(bb16.index)

Index(['cartech02', 'corpoca01', 'dominma01', 'fowlede01', 'grossro01',
       'guzmaje01', 'hoeslj01', 'krausma01', 'preslal01', 'singljo02',
       'villajo01'],
      dtype='object', name='playerID')

In [52]:
#let's get the 'H' columns : number of hits for each player over 3 years.
hits1 = bb14['H']
hits2 = bb15['H']
hits3 = bb16['H']
#eventhough some players have hits in some years and not others, these are
#completely neglected in the resulting sum of series.

In [41]:
#to avoid this, we use the add method which provides much more flexibility
#like mentioning the fill value
hits1.add(hits2, fill_value=0).head()

playerID
altuvjo01    425.0
cartech02    193.0
castrja01    174.0
congeha01     46.0
corpoca01     40.0
Name: H, dtype: float64

In [54]:
#there is no explosion here because there are no multiple matching values.
#Just missing labels when moving from one series to another, which does not produce 
#an explosion.
len(hits1 + hits2), len(hits1.add(hits2, fill_value=0))

(24, 24)

In [56]:
hits_total = hits1.add(hits2, fill_value=0).add(hits3, fill_value=0)
hits_total.head()

playerID
altuvjo01    641.0
bregmal01     53.0
cartech02    193.0
castrja01    243.0
congeha01     46.0
Name: H, dtype: float64

In [60]:
#to check for missing values in the hits_total series.
hits_total.hasnans
#if it returned true, we could be sure that the value for the corresponding label 
#for all the series that underwent the addition operation was = NaN.

False

## 5. Appending Columns From Different DataFrames

In [31]:
employee = pd.read_csv("data/employee.csv")
dept_sal = employee[["DEPARTMENT", "BASE_SALARY"]]

In [32]:
#sort the department values(to drop all but one later), and also sort base
#salary in descending order, to keep the only the highest one later on
dept_sal = dept_sal.sort_values(["DEPARTMENT", "BASE_SALARY"], ascending=[True, False])

In [33]:
#remove all but one entries of each dept.
max_dept_sal = dept_sal.drop_duplicates(subset=["DEPARTMENT"])

In [36]:
#align row labels, so that can now append our new column
max_dept_sal = max_dept_sal.set_index("DEPARTMENT")
employee = employee.set_index("DEPARTMENT")

In [37]:
#perform the append
employee["MAX_DEPT_SAL"] = max_dept_sal["BASE_SALARY"]

In [42]:
#a sample query on the modified dataset
employee.query("BASE_SALARY> MAX_DEPT_SAL")
#there are no rows that satisfy the above query

Empty DataFrame
Columns: [UNIQUE_ID, POSITION_TITLE, BASE_SALARY, RACE, EMPLOYMENT_TYPE, GENDER, EMPLOYMENT_STATUS, HIRE_DATE, JOB_DATE, MAX_DEPT_SAL]
Index: []

## 6. Highlighting the Maximum Value from Each Dataset

In [49]:
college = pd.read_csv("data/college.csv")
#college.head() suggests that all but the first two columns 
#are numerical types. However, the college.dtypes tell a different story
#you see what i did there :)
college.head(3)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370

In [59]:
college.dtypes[[0, 1, 2, 3, -3, -2, -1]]

CITY                   object
STABBR                 object
HBCU                  float64
MENONLY               float64
UG25ABV               float64
MD_EARN_WNE_P10       float64
GRAD_DEBT_MDN_SUPP     object
dtype: object

In [56]:
#this tells us that the last two columns have some non numeric data in them
#let's find it by sorting one of those cols
college = college.set_index("INSTNM")
college["MD_EARN_WNE_P10"].sort_values(ascending=False).head()

INSTNM
Sharon Regional Health System School of Nursing    PrivacySuppressed
Northcoast Medical Training Academy                PrivacySuppressed
Success Schools                                    PrivacySuppressed
Louisiana Culinary Institute                       PrivacySuppressed
Bais Medrash Toras Chesed                          PrivacySuppressed
Name: MD_EARN_WNE_P10, dtype: object

In [60]:
#let us convert the non numeric values for the rows to NaN using "coerce"
cols = ["MD_EARN_WNE_P10", "GRAD_DEBT_MDN_SUPP"]
for col in cols:
    college[col] = pd.to_numeric(college[col], errors="coerce")

college.dtypes.loc[cols]

MD_EARN_WNE_P10       float64
GRAD_DEBT_MDN_SUPP    float64
dtype: object

In [65]:
#lets filter out the non numeric columns, since finding the max values for strings
#dont make sense
college_n = college.select_dtypes(include=[np.number])
college_n.head(2)

,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,0.0333,0.9353,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300.0,33888.0
University of Alabama at Birmingham,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,0.5922,0.2600,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700.0,21941.5

In [66]:
#A maximum value also does not make sense in the context of binary values.
criteria = college_n.nunique() == 2
criteria.head()

HBCU          True
MENONLY       True
WOMENONLY     True
RELAFFIL      True
SATVRMID     False
dtype: bool

In [68]:
#let's get those col names into a list. We can pass these to a function to drop em
binary_cols = college_n.columns[criteria].tolist()
binary_cols

['HBCU', 'MENONLY', 'WOMENONLY', 'RELAFFIL', 'DISTANCEONLY', 'CURROPER']

In [71]:
#let us now remove these columns
college_n2 = college_n.drop(labels=binary_cols, axis='columns')
college_n2.head(3)

,SATVRMID,SATMTMID,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,
Alabama A & M University,424.0,420.0,4206.0,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138,0.0656,0.7356,0.8284,0.1049,30300.0,33888.0
University of Alabama at Birmingham,570.0,565.0,11383.0,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100,0.2607,0.3460,0.5214,0.2422,39700.0,21941.5
Amridge University,NaN,NaN,291.0,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715,0.4536,0.6801,0.7795,0.8540,40100.0,23370.0

In [74]:
#we get the row index label corresponding to the max val in each column
col_max_vals = college_n2.idxmax()
col_max_vals

SATVRMID                             California Institute of Technology
SATMTMID                             California Institute of Technology
UGDS                                      University of Phoenix-Arizona
UGDS_WHITE                       Mr Leon's School of Hair Design-Moscow
UGDS_BLACK                           Velvatex College of Beauty Culture
UGDS_HISP                       Thunderbird School of Global Management
UGDS_ASIAN                          Cosmopolitan Beauty and Tech School
UGDS_AIAN                             Haskell Indian Nations University
UGDS_NHPI                                       Palau Community College
UGDS_2MOR                                                 LIU Brentwood
UGDS_NRA               California University of Management and Sciences
UGDS_UNKN             Le Cordon Bleu College of Culinary Arts-San Fr...
PPTUG_EF                        Thunderbird School of Global Management
PCTPELL                                        MTI Business College Inc
PCTFLOAN                                         ABC Beauty College Inc
UG25ABV                                  Dongguk University-Los Angeles
MD_EARN_WNE_P10                            Medical College of Wisconsin
GRAD_DEBT_MDN_SUPP           Southwest University of Visual Arts-Tucson
dtype: object

In [79]:
unique_col_max_vals = col_max_vals.unique()
unique_col_max_vals[:3]

array(['California Institute of Technology',
       'University of Phoenix-Arizona',
       "Mr Leon's School of Hair Design-Moscow"], dtype=object)

In [83]:
#we'll use this list of unique values to get to the max values for the corresponding
#labels. Once we reach the values, we stylize them through highlight the max value
college_n2.loc[unique_col_max_vals].style.highlight_max()

## 7. Replicating idxmax With Method Chaining

In [88]:
cols = ["MD_EARN_WNE_P10", "GRAD_DEBT_MDN_SUPP"]

for col in cols:
    college[col] = pd.to_numeric(college[col], errors="coerce")

In [97]:
college_numeric = college.select_dtypes(include=[np.number])

In [111]:
binary_cols = college_numeric.columns[(college_numeric.nunique() == 2)].tolist()

In [113]:
college_numeric_final = college_numeric.drop(labels=binary_cols, axis="columns")

In [130]:
college_numeric_final.max().head()

SATVRMID         765.0
SATMTMID         785.0
UGDS          151558.0
UGDS_WHITE         1.0
UGDS_BLACK         1.0
dtype: float64

In [ ]:
#let us test each col value of the df with its col max
#the eq method by default aligns the columns of the col df
#with the labels of the past series index

## 8. Finding the Most Common Maximum

In [134]:
#we will find the race with highest percentage of the undergraduate
#population for each school with the idxmax method. And then find the distribution of 
#these maximums.

college = pd.read_csv('data/college.csv', index_col="INSTNM")
#select only those cols that are relevant to race
college_race = college.filter(like='UGDS_')
college_race.head()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137

In [135]:
#use the idxmax to find the col name with the highest race percentage for each row.
#by default idxmax finds the max val in every column. Now that we've changed the axis
#columns, it will now find the max val for each row, ie, the majority race in each 
#university.

majority_race = college_race.idxmax(axis='columns')
majority_race.head()

INSTNM
Alabama A & M University               UGDS_BLACK
University of Alabama at Birmingham    UGDS_WHITE
Amridge University                     UGDS_BLACK
University of Alabama in Huntsville    UGDS_WHITE
Alabama State University               UGDS_BLACK
dtype: object

In [136]:
#normalize = true gives us the relative frequency and not the raw counts
majority_race.value_counts(normalize=True)

UGDS_WHITE    0.670352
UGDS_BLACK    0.151586
UGDS_HISP     0.129473
UGDS_UNKN     0.023422
UGDS_ASIAN    0.012074
UGDS_AIAN     0.006110
UGDS_NRA      0.004073
UGDS_NHPI     0.001746
UGDS_2MOR     0.001164
dtype: float64

In [140]:
#Question : Of the colleges/universities that have a majority of black students, 
#           what is the second majority race?
majority_black = college_race[majority_race == 'UGDS_BLACK']
majority_black = majority_black.drop('UGDS_BLACK', axis='columns')
majority_black.idxmax(axis='columns').value_counts(normalize=True)

UGDS_WHITE    0.661228
UGDS_HISP     0.230326
UGDS_UNKN     0.071977
UGDS_NRA      0.018234
UGDS_ASIAN    0.009597
UGDS_2MOR     0.006718
UGDS_NHPI     0.000960
UGDS_AIAN     0.000960
dtype: float64